In [97]:
import numpy as np
import pandas as pd
from category_encoders import TargetEncoder
from sklearn.preprocessing import OneHotEncoder
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing, svm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [98]:
Data=pd.read_excel(r"C:\Users\Saurabh\Desktop\Aires1\files\data1.xlsx")

In [99]:
Data3=pd.read_excel(r"C:\Users\Saurabh\Desktop\Aires1\files\data1.xlsx")

In [100]:
len(Data3)

45215

In [101]:
Data["family_size"].value_counts()

1     36672
2      4262
4      1905
3      1701
5       560
6        77
7        19
9        10
10        9
Name: family_size, dtype: int64

In [102]:
family_dummy=pd.get_dummies(Data["family_size"],prefix="family_size")

In [103]:
Data=pd.concat([Data,family_dummy],axis=1)

In [104]:
Data.drop(["family_size"],axis=1,inplace=True)

In [105]:
Data_Val1  = Data[Data["assignment_id"].isin([463279,509353,501516,480737,517941,481203,483108,521227,
                                                             491086,532478,474347,482464,597107,581689,609902,467567])]

In [106]:
Data_Val1#.to_excel(r"C:\Users\Saurabh\Desktop\Aires1\Data_Val1.xlsx")

,Unnamed: 0,company_id,corporation_policy_id,assignment_id,assignment_type_code,CITY_ORIG,COUNTRY_CODE_ORIG,CITY_DEST,COUNTRY_CODE_DEST,assignment_service_code,...,amount,family_size_1,family_size_2,family_size_3,family_size_4,family_size_5,family_size_6,family_size_7,family_size_9,family_size_10
169,84081,78223,9426,463279,PERM,buford,US,melbourne,US,REALEST,...,1154.562500,1,0,0,0,0,0,0,0,0
170,84075,78223,9426,463279,PERM,buford,US,melbourne,US,SHIPMENT,...,3818.000000,1,0,0,0,0,0,0,0,0
301,134863,78223,9426,480737,PERM,melbourne,US,choctaw,US,REALEST,...,464.933333,1,0,0,0,0,0,0,0,0
302,134831,78223,9426,480737,PERM,melbourne,US,choctaw,US,REALEST,...,4310.750000,1,0,0,0,0,0,0,0,0
303,124127,78223,9426,481203,PERM,york,US,melbourne,US,REALEST,...,15044.518519,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34868,102404,78223,9426,483108,PERM,palmdale,US,rockledge,US,ASSIGN,...,350.000000,0,1,0,0,0,0,0,0,0
40117,124124,78223,9426,481203,PERM,york,US,melbourne,US,SHIPMENT,...,1253.000000,1,0,0,0,0,0,0,0,0
40118,124125,78223,9426,481203,PERM,york,US,melbourne,US,REALEST,...,4902.000000,1,0,0,0,0,0,0,0,0
40119,124138,78223,9426,481203,PERM,york,US,melbourne,US,ASSIGN,...,350.000000,1,0,0,0,0,0,0,0,0
44749,134830,78223,9426,480737,PERM,melbourne,US,choctaw,US,ASSIGN,...,350.000000,1,0,0,0,0,0,0,0,0

In [107]:
Data.drop(["Unnamed: 0"],axis=1,inplace=True)
Data_Val1.drop(["Unnamed: 0"],axis=1,inplace=True)

C:\Users\Saurabh\AppData\Local\Temp\ipykernel_408\733985306.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data_Val1.drop(["Unnamed: 0"],axis=1,inplace=True)

In [108]:
Data_numerical_features = Data.select_dtypes(exclude='object')
Data_categorical_features = Data.select_dtypes(include='object')

In [109]:
def outlier_cap(x):
    x=x.clip(lower=x.quantile(0.05))
    x=x.clip(upper=x.quantile(0.95))
    return(x)

In [110]:
num_new=Data_numerical_features.iloc[:,1:].apply(lambda x : outlier_cap(x))

In [111]:
Data=pd.concat([num_new,Data_categorical_features],axis=1)

In [112]:
Data=pd.concat([Data_numerical_features["company_id"],Data],axis=1)

In [113]:
encoder = TargetEncoder()
Data['CITY_ORIG'] = encoder.fit_transform(Data['CITY_ORIG'], Data['amount'])

C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\category_encoders\target_encoder.py:92: FutureWarning: Default parameter min_samples_leaf will change in version 2.6.See https://github.com/scikit-learn-contrib/category_encoders/issues/327
  warnings.warn("Default parameter min_samples_leaf will change in version 2.6."
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\category_encoders\target_encoder.py:97: FutureWarning: Default parameter smoothing will change in version 2.6.See https://github.com/scikit-learn-contrib/category_encoders/issues/327
  warnings.warn("Default parameter smoothing will change in version 2.6."

In [114]:
Data['CITY_DEST'] = encoder.fit_transform(Data['CITY_DEST'], Data['amount'])

In [115]:
Data["COUNTRY_CODE_ORIG"]=encoder.fit_transform(Data['COUNTRY_CODE_ORIG'], Data['amount'])

In [116]:
Data["COUNTRY_CODE_DEST"]=encoder.fit_transform(Data['COUNTRY_CODE_DEST'], Data['amount'])

In [117]:
Data["assignment_id"].value_counts()

467340.0    2263
607445.2    2261
587890.0      14
530123.0      14
485442.0      14
            ...
490854.0       1
526388.0       1
524450.0       1
575383.0       1
507933.0       1
Name: assignment_id, Length: 14039, dtype: int64

In [118]:
Data1=pd.get_dummies(data=Data, columns=['assignment_service_code','assignment_type_code','home_status_code','assign_sub_service_code','sub_service_status_code'])

In [119]:
Data1

,company_id,corporation_policy_id,assignment_id,actual_weight,tl_num_of_bedroom,assign_duration,amount,family_size_1,family_size_2,family_size_3,...,assign_sub_service_code_TRVLASST,assign_sub_service_code_TRVLFTRP,assign_sub_service_code_TRVLHMLV,assign_sub_service_code_TRVLHMSR,assign_sub_service_code_TRVLPREA,assign_sub_service_code_TRVLSHRT,sub_service_status_code_ACTV,sub_service_status_code_CNCL,sub_service_status_code_INAC,sub_service_status_code_XCST
0,78223,9428.0,467340.0,5000.0,0.0,62.0,1978.000000,0,1,0.0,...,0,0,0,0,0,0,0,0,1,0
1,78223,9428.0,467340.0,6740.0,0.0,62.0,3061.142857,0,1,0.0,...,0,0,0,0,0,0,0,0,1,0
2,78223,9428.0,480183.0,0.0,0.0,270.0,1916.461538,0,0,0.0,...,0,0,0,0,0,0,0,0,1,0
3,78223,9428.0,480183.0,0.0,0.0,270.0,4061.321429,0,0,0.0,...,0,0,0,0,0,0,0,0,1,0
4,78223,9428.0,480183.0,6740.0,0.0,270.0,4083.750000,0,0,0.0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45210,78223,9436.0,504685.0,0.0,0.0,0.0,200.000000,1,0,0.0,...,0,0,0,0,0,0,0,0,1,0
45211,78223,9429.0,474678.0,0.0,0.0,0.0,650.000000,1,0,0.0,...,0,0,0,0,0,0,0,0,1,0
45212,78223,9436.0,519543.0,0.0,0.0,0.0,200.000000,1,0,0.0,...,0,0,0,0,0,0,0,0,1,0
45213,78223,9436.0,468302.0,0.0,0.0,0.0,200.000000,1,0,0.0,...,0,0,0,0,0,0,0,0,1,0
45214,78223,9436.0,507933.0,0.0,0.0,0.0,200.000000,1,0,0.0,...,0,0,0,0,0,0,0,0,1,0

In [120]:
Data1 = Data1.loc[:,~Data1.columns.duplicated()].copy()

In [121]:
Data1["company_id"]=Data1["company_id"].map({78223:"A",60915:"B",8472:"C",45474:"D"})

In [122]:
Data1=pd.get_dummies(data=Data1, columns=['company_id'])

In [123]:
from sklearn.preprocessing import LabelEncoder 
le = LabelEncoder()
Data1['corporation_policy_id'] = le.fit_transform(Data1['corporation_policy_id'])

In [124]:
Data1

,corporation_policy_id,assignment_id,actual_weight,tl_num_of_bedroom,assign_duration,amount,family_size_1,family_size_2,family_size_3,family_size_4,...,assign_sub_service_code_TRVLPREA,assign_sub_service_code_TRVLSHRT,sub_service_status_code_ACTV,sub_service_status_code_CNCL,sub_service_status_code_INAC,sub_service_status_code_XCST,company_id_A,company_id_B,company_id_C,company_id_D
0,0,467340.0,5000.0,0.0,62.0,1978.000000,0,1,0.0,0.0,...,0,0,0,0,1,0,1,0,0,0
1,0,467340.0,6740.0,0.0,62.0,3061.142857,0,1,0.0,0.0,...,0,0,0,0,1,0,1,0,0,0
2,0,480183.0,0.0,0.0,270.0,1916.461538,0,0,0.0,0.0,...,0,0,0,0,1,0,1,0,0,0
3,0,480183.0,0.0,0.0,270.0,4061.321429,0,0,0.0,0.0,...,0,0,0,0,1,0,1,0,0,0
4,0,480183.0,6740.0,0.0,270.0,4083.750000,0,0,0.0,0.0,...,0,0,0,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45210,2,504685.0,0.0,0.0,0.0,200.000000,1,0,0.0,0.0,...,0,0,0,0,1,0,1,0,0,0
45211,1,474678.0,0.0,0.0,0.0,650.000000,1,0,0.0,0.0,...,0,0,0,0,1,0,1,0,0,0
45212,2,519543.0,0.0,0.0,0.0,200.000000,1,0,0.0,0.0,...,0,0,0,0,1,0,1,0,0,0
45213,2,468302.0,0.0,0.0,0.0,200.000000,1,0,0.0,0.0,...,0,0,0,0,1,0,1,0,0,0
45214,2,507933.0,0.0,0.0,0.0,200.000000,1,0,0.0,0.0,...,0,0,0,0,1,0,1,0,0,0

In [125]:
# from sklearn.preprocessing import MinMaxScaler
# mm_scaler = MinMaxScaler()
# # transform data
# Data1[["actual_weight","tl_num_of_bedroom","assign_duration"]] = mm_scaler.fit_transform(Data1[["actual_weight","tl_num_of_bedroom","assign_duration"]])
# Data1[["amount"]]=mm_scaler.fit_transform(Data1[["amount"]])

In [126]:
# Data1

In [127]:
Data_Val  = Data1[Data1["assignment_id"].isin([463279,509353,501516,480737,517941,481203,483108,521227,
                                                             491086,532478,474347,482464,597107,581689,609902,467567])]

In [128]:
len(Data_Val)

88

In [129]:
Data_Val_index  = Data1[Data1["assignment_id"].isin([463279,509353,501516,480737,517941,481203,483108,521227,
                                                             491086,532478,474347,482464,597107,581689,609902,467567])].index

In [130]:
Data1.drop(Data_Val_index, inplace = True)

In [131]:
Data1

,corporation_policy_id,assignment_id,actual_weight,tl_num_of_bedroom,assign_duration,amount,family_size_1,family_size_2,family_size_3,family_size_4,...,assign_sub_service_code_TRVLPREA,assign_sub_service_code_TRVLSHRT,sub_service_status_code_ACTV,sub_service_status_code_CNCL,sub_service_status_code_INAC,sub_service_status_code_XCST,company_id_A,company_id_B,company_id_C,company_id_D
0,0,467340.0,5000.0,0.0,62.0,1978.000000,0,1,0.0,0.0,...,0,0,0,0,1,0,1,0,0,0
1,0,467340.0,6740.0,0.0,62.0,3061.142857,0,1,0.0,0.0,...,0,0,0,0,1,0,1,0,0,0
2,0,480183.0,0.0,0.0,270.0,1916.461538,0,0,0.0,0.0,...,0,0,0,0,1,0,1,0,0,0
3,0,480183.0,0.0,0.0,270.0,4061.321429,0,0,0.0,0.0,...,0,0,0,0,1,0,1,0,0,0
4,0,480183.0,6740.0,0.0,270.0,4083.750000,0,0,0.0,0.0,...,0,0,0,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45210,2,504685.0,0.0,0.0,0.0,200.000000,1,0,0.0,0.0,...,0,0,0,0,1,0,1,0,0,0
45211,1,474678.0,0.0,0.0,0.0,650.000000,1,0,0.0,0.0,...,0,0,0,0,1,0,1,0,0,0
45212,2,519543.0,0.0,0.0,0.0,200.000000,1,0,0.0,0.0,...,0,0,0,0,1,0,1,0,0,0
45213,2,468302.0,0.0,0.0,0.0,200.000000,1,0,0.0,0.0,...,0,0,0,0,1,0,1,0,0,0
45214,2,507933.0,0.0,0.0,0.0,200.000000,1,0,0.0,0.0,...,0,0,0,0,1,0,1,0,0,0

In [132]:
Data1.drop(["assignment_id"],axis=1,inplace=True)

In [133]:
Data_Val.drop(["assignment_id"],axis=1,inplace=True)

C:\Users\Saurabh\AppData\Local\Temp\ipykernel_408\1944881090.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data_Val.drop(["assignment_id"],axis=1,inplace=True)

In [134]:
Data_Val

,corporation_policy_id,actual_weight,tl_num_of_bedroom,assign_duration,amount,family_size_1,family_size_2,family_size_3,family_size_4,family_size_5,...,assign_sub_service_code_TRVLPREA,assign_sub_service_code_TRVLSHRT,sub_service_status_code_ACTV,sub_service_status_code_CNCL,sub_service_status_code_INAC,sub_service_status_code_XCST,company_id_A,company_id_B,company_id_C,company_id_D
301,0,0.0,0.0,136.0,464.933333,1,0,0.0,0.0,0.0,...,0,0,0,0,1,0,1,0,0,0
302,0,0.0,0.0,136.0,4310.750000,1,0,0.0,0.0,0.0,...,0,0,0,0,1,0,1,0,0,0
303,0,0.0,0.0,141.0,10000.000000,1,0,0.0,0.0,0.0,...,0,0,0,0,1,0,1,0,0,0
304,0,6740.0,0.0,141.0,2884.833333,1,0,0.0,0.0,0.0,...,0,0,0,0,1,0,1,0,0,0
317,0,0.0,0.0,56.0,903.636364,0,1,0.0,0.0,0.0,...,0,0,0,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34868,0,0.0,0.0,56.0,350.000000,0,1,0.0,0.0,0.0,...,0,0,0,0,1,0,1,0,0,0
40117,0,3000.0,0.0,141.0,1253.000000,1,0,0.0,0.0,0.0,...,0,0,0,0,1,0,1,0,0,0
40118,0,0.0,0.0,141.0,4902.000000,1,0,0.0,0.0,0.0,...,0,0,0,0,1,0,1,0,0,0
40119,0,0.0,0.0,141.0,350.000000,1,0,0.0,0.0,0.0,...,0,0,0,0,1,0,1,0,0,0
44749,0,0.0,0.0,136.0,350.000000,1,0,0.0,0.0,0.0,...,0,0,0,0,1,0,1,0,0,0

In [135]:
Data1

,corporation_policy_id,actual_weight,tl_num_of_bedroom,assign_duration,amount,family_size_1,family_size_2,family_size_3,family_size_4,family_size_5,...,assign_sub_service_code_TRVLPREA,assign_sub_service_code_TRVLSHRT,sub_service_status_code_ACTV,sub_service_status_code_CNCL,sub_service_status_code_INAC,sub_service_status_code_XCST,company_id_A,company_id_B,company_id_C,company_id_D
0,0,5000.0,0.0,62.0,1978.000000,0,1,0.0,0.0,0.0,...,0,0,0,0,1,0,1,0,0,0
1,0,6740.0,0.0,62.0,3061.142857,0,1,0.0,0.0,0.0,...,0,0,0,0,1,0,1,0,0,0
2,0,0.0,0.0,270.0,1916.461538,0,0,0.0,0.0,0.0,...,0,0,0,0,1,0,1,0,0,0
3,0,0.0,0.0,270.0,4061.321429,0,0,0.0,0.0,0.0,...,0,0,0,0,1,0,1,0,0,0
4,0,6740.0,0.0,270.0,4083.750000,0,0,0.0,0.0,0.0,...,0,0,0,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45210,2,0.0,0.0,0.0,200.000000,1,0,0.0,0.0,0.0,...,0,0,0,0,1,0,1,0,0,0
45211,1,0.0,0.0,0.0,650.000000,1,0,0.0,0.0,0.0,...,0,0,0,0,1,0,1,0,0,0
45212,2,0.0,0.0,0.0,200.000000,1,0,0.0,0.0,0.0,...,0,0,0,0,1,0,1,0,0,0
45213,2,0.0,0.0,0.0,200.000000,1,0,0.0,0.0,0.0,...,0,0,0,0,1,0,1,0,0,0
45214,2,0.0,0.0,0.0,200.000000,1,0,0.0,0.0,0.0,...,0,0,0,0,1,0,1,0,0,0

In [136]:

# Create correlation matrix
corr_matrix = Data1.corr().abs()

# Select upper triangle of correlation matrix
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))

# Find features with correlation greater than 0.95
to_drop = [column for column in upper.columns if any(upper[column] > 0.80)]

# Drop features 
#df.drop(to_drop, axis=1, inplace=True)

C:\Users\Saurabh\AppData\Local\Temp\ipykernel_408\2031953622.py:5: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))

In [137]:
to_drop

['assignment_service_code_SHIPMENT',
 'assign_sub_service_code_AIRESFEE_AIAI',
 'assign_sub_service_code_CULTCLAS',
 'assign_sub_service_code_LANGCLAS',
 'assign_sub_service_code_SHIPMENT',
 'assign_sub_service_code_SSTAXCER',
 'assign_sub_service_code_TAXPMT',
 'assign_sub_service_code_TEMPLODG',
 'sub_service_status_code_INAC',
 'company_id_A']

In [138]:
Data1.drop(to_drop,axis=1,inplace=True)

In [139]:
Data_Val.drop(to_drop,axis=1,inplace=True)

C:\Users\Saurabh\AppData\Local\Temp\ipykernel_408\3853751545.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data_Val.drop(to_drop,axis=1,inplace=True)

In [140]:
Data1

,corporation_policy_id,actual_weight,tl_num_of_bedroom,assign_duration,amount,family_size_1,family_size_2,family_size_3,family_size_4,family_size_5,...,assign_sub_service_code_TRVLHMLV,assign_sub_service_code_TRVLHMSR,assign_sub_service_code_TRVLPREA,assign_sub_service_code_TRVLSHRT,sub_service_status_code_ACTV,sub_service_status_code_CNCL,sub_service_status_code_XCST,company_id_B,company_id_C,company_id_D
0,0,5000.0,0.0,62.0,1978.000000,0,1,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,0,6740.0,0.0,62.0,3061.142857,0,1,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,0,0.0,0.0,270.0,1916.461538,0,0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,0,0.0,0.0,270.0,4061.321429,0,0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,0,6740.0,0.0,270.0,4083.750000,0,0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45210,2,0.0,0.0,0.0,200.000000,1,0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
45211,1,0.0,0.0,0.0,650.000000,1,0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
45212,2,0.0,0.0,0.0,200.000000,1,0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
45213,2,0.0,0.0,0.0,200.000000,1,0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
45214,2,0.0,0.0,0.0,200.000000,1,0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [141]:
amount=Data1["amount"]

In [142]:
amount_Val=Data_Val["amount"]

In [143]:
Data1.drop(["amount"],axis=1,inplace=True)

In [144]:
Data_Val.drop(["amount"],axis=1,inplace=True)

C:\Users\Saurabh\AppData\Local\Temp\ipykernel_408\1876593826.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data_Val.drop(["amount"],axis=1,inplace=True)

from pandas_profiling import ProfileReport 
profile = ProfileReport (Data1, title = 'Aires Amount Prediction', html = {'style': {'full_width': True }}) 
profile

In [145]:
# Data1.drop(["company_id_A"],axis=1,inplace=True)

In [146]:
#X = Data_processed.drop(['actual_amount'],axis=1,inplace=True)
y = np.array(amount).reshape(-1, 1)
X= Data1
# Separating the data into independent and dependent variables
# Converting each dataframe into a numpy array
# since each dataframe contains only one column
#df_binary.dropna(inplace = True)

# Dropping any rows with Nan values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

# Splitting the data into training and testing data
regr = LinearRegression()

regr.fit(X_train, y_train)
print(regr.score(X_test, y_test))

0.6791446399648536

In [147]:
X_train1=Data1
y_train1=y

In [148]:
y_Val = np.array(amount_Val).reshape(-1, 1)
X_Val=Data_Val

In [149]:
import xgboost as xg
from sklearn.metrics import mean_squared_error as MSE


# Instantiation
xgb_r = xg.XGBRegressor(objective ='reg:squarederror',n_estimators = 1000)

# Fitting the model
xgb_r.fit(X_train, y_train)

# Predict the model
pred = xgb_r.predict(X_test)

# RMSE Computation
rmse = np.sqrt(MSE(y_test, pred))
print("RMSE : % f" %(rmse))

RMSE :  1312.712220

In [150]:
import xgboost as xg
from sklearn.metrics import mean_squared_error as MSE


# Instantiation
xgb_r1 = xg.XGBRegressor(objective ='reg:squarederror',n_estimators = 1000)

# Fitting the model
xgb_r1.fit(X_train1, y_train1)

# Predict the model
pred1 = xgb_r1.predict(X_Val)

# RMSE Computation
rmse = np.sqrt(MSE(y_Val, pred1))
print("RMSE : % f" %(rmse))

RMSE :  1660.029131

In [151]:
# # invert transform on prediction
# pred1=np.array(pred1).reshape(-1, 1)
# prediction = mm_scaler.inverse_transform(pred1)

In [152]:
# y_Val = mm_scaler.inverse_transform(y_Val)

In [153]:
import numpy as np

def mean_absolute_percentage_error(y_true, y_pred): 
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [154]:
error=mean_absolute_percentage_error(y_Val, prediction)

In [155]:
error

46.49043165449393

In [157]:
print(xgb_r1.score(X_Val, y_Val))

0.6130848359038488

In [158]:
Data2=pd.DataFrame()

In [159]:
flat_list = []
for sublist in y_Val:
    for item in sublist:
        flat_list.append(item)

In [160]:
flat_list1 = []
for sublist in prediction:
    for item in sublist:
        flat_list1.append(item)

In [161]:
Data2["amount"]=flat_list
Data2["predicted_amount"]=flat_list1

In [162]:
Data_Val.reset_index(inplace=True)

In [163]:
Data2

          amount  predicted_amount
0     464.933333        778.895386
1    4310.750000       4548.935059
2   10000.000000       5756.087402
3    2884.833333       2208.207764
4     903.636364       3587.287354
..           ...               ...
83    350.000000        337.371368
84   1253.000000       1270.641724
85   4902.000000        874.211914
86    350.000000        256.605713
87    350.000000        329.210510

[88 rows x 2 columns]

In [164]:
Data2["diff"]=Data2["amount"]-Data2["predicted_amount"]

In [165]:
Data2["diff_abs"]=Data2["diff"].abs()

In [166]:
Data2["error"]=(Data2["diff_abs"]/Data2["amount"])*100

In [167]:
df_merged = pd.concat([Data_Val1.reset_index(drop=True),Data2.reset_index(drop=True)], axis=1)

In [168]:
df_merged

,company_id,corporation_policy_id,assignment_id,assignment_type_code,CITY_ORIG,COUNTRY_CODE_ORIG,CITY_DEST,COUNTRY_CODE_DEST,assignment_service_code,home_status_code,...,family_size_5,family_size_6,family_size_7,family_size_9,family_size_10,amount,predicted_amount,diff,diff_abs,error
0,78223,9426,463279,PERM,buford,US,melbourne,US,REALEST,OWN,...,0,0,0,0,0,464.933333,778.895386,-313.962052,313.962052,67.528402
1,78223,9426,463279,PERM,buford,US,melbourne,US,SHIPMENT,OWN,...,0,0,0,0,0,4310.750000,4548.935059,-238.185059,238.185059,5.525374
2,78223,9426,480737,PERM,melbourne,US,choctaw,US,REALEST,OWN,...,0,0,0,0,0,10000.000000,5756.087402,4243.912598,4243.912598,42.439126
3,78223,9426,480737,PERM,melbourne,US,choctaw,US,REALEST,OWN,...,0,0,0,0,0,2884.833333,2208.207764,676.625570,676.625570,23.454581
4,78223,9426,481203,PERM,york,US,melbourne,US,REALEST,OWN,...,0,0,0,0,0,903.636364,3587.287354,-2683.650990,2683.650990,296.983510
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,78223,9426,483108,PERM,palmdale,US,rockledge,US,ASSIGN,OWN,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
93,78223,9426,481203,PERM,york,US,melbourne,US,SHIPMENT,OWN,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
94,78223,9426,481203,PERM,york,US,melbourne,US,REALEST,OWN,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
95,78223,9426,481203,PERM,york,US,melbourne,US,ASSIGN,OWN,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
96,78223,9426,480737,PERM,melbourne,US,choctaw,US,ASSIGN,OWN,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN

In [169]:
Data_Val#.to_excel(r"C:\Users\Saurabh\Desktop\Aires1\Data_Val.xlsx")

,index,corporation_policy_id,actual_weight,tl_num_of_bedroom,assign_duration,family_size_1,family_size_2,family_size_3,family_size_4,family_size_5,...,assign_sub_service_code_TRVLHMLV,assign_sub_service_code_TRVLHMSR,assign_sub_service_code_TRVLPREA,assign_sub_service_code_TRVLSHRT,sub_service_status_code_ACTV,sub_service_status_code_CNCL,sub_service_status_code_XCST,company_id_B,company_id_C,company_id_D
0,301,0,0.0,0.0,136.0,1,0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,302,0,0.0,0.0,136.0,1,0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,303,0,0.0,0.0,141.0,1,0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,304,0,6740.0,0.0,141.0,1,0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,317,0,0.0,0.0,56.0,0,1,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,34868,0,0.0,0.0,56.0,0,1,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
84,40117,0,3000.0,0.0,141.0,1,0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
85,40118,0,0.0,0.0,141.0,1,0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
86,40119,0,0.0,0.0,141.0,1,0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
87,44749,0,0.0,0.0,136.0,1,0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [170]:
Data_Val.drop(["index"],axis=1,inplace=True)

C:\Users\Saurabh\AppData\Local\Temp\ipykernel_408\1447363198.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data_Val.drop(["index"],axis=1,inplace=True)

In [172]:
df_merged.to_excel(r"C:\Users\Saurabh\Desktop\Aires1\predicted_data1.xlsx")

In [173]:
print(xgb_r1.score(X_Val, y_Val))

0.6130848359038488

In [328]:
# RMSE Computation
rmse = np.sqrt(MSE(y_Val, pred_Val))
print("RMSE : % f" %(rmse))

NameError: name 'pred_Val' is not defined

In [159]:
from sklearn.metrics import r2_score
r2_score(y_Val, pred_Val)

0.5054867756849035

In [40]:
#XGBoost hyper-parameter tuning
from sklearn.model_selection import GridSearchCV
def hyperParameterTuningGCV(X_train, y_train):
    param_tuning = {
#         'max_depth': [9],
#         'learning_rate': [0.01],
#         'n_estimators': [1000],
#         'colsample_bytree': [0.7],
#         'booster':['gbtree'],
#         'objective': ['reg:squarederror']
        # Hyper Parameter Optimization
    'n_estimators' : [100, 500, 1000],
    "max_depth" : [2, 5, 10],
    "booster":['gbtree'],
    "learning_rate":[0.01,0.1,0.20]}

    xgb_model = xg.XGBRegressor()

    gsearch = GridSearchCV(estimator = xgb_model,
                           param_grid = param_tuning,                        
                           #scoring = 'neg_mean_absolute_error', #MAE
                           #scoring = 'neg_mean_squared_error',  #MSE
                           cv = 5,verbose=1)
    gsearch.fit(X_train,y_train)

    return gsearch.best_params_,gsearch.best_estimator_,gsearch.score(X_test,y_test),gsearch

In [41]:
best_par,best_est,r2_score_gcv,model_gcv=hyperParameterTuningGCV(X_train,y_train)

Fitting 5 folds for each of 27 candidates, totalling 135 fits

In [42]:
r2_score_gcv

0.8014414661913246

In [43]:
best_par

{'booster': 'gbtree',
 'learning_rate': 0.01,
 'max_depth': 5,
 'n_estimators': 1000}

In [44]:
feature_importance=model_gcv.best_estimator_.feature_importances_

In [46]:
# Indices of the sorted elements of a
# given array
indices = np.argsort(feature_importance)
indices

array([33,  3, 26, 15,  9, 11, 10, 24, 28,  6,  1,  8, 16, 12, 25,  4, 17,
       22, 13, 18,  7, 23, 30, 29, 20, 27,  5,  2, 19, 31, 32,  0, 21, 14],
      dtype=int64)

In [47]:
pos = [18,  7, 23, 30, 29, 20, 27,  5,  2, 19, 31, 32,  0, 21, 14]
colname = Data1.columns[pos]

In [48]:
colname

Index(['assign_sub_service_code_DREIMBHS', 'CITY_DEST',
       'assign_sub_service_code_HPREFER', 'assign_sub_service_code_TEMPLODG',
       'assign_sub_service_code_TAXPMT', 'assign_sub_service_code_HOMEPRCH',
       'assign_sub_service_code_RENTLASS', 'CITY_ORIG', 'actual_weight',
       'assign_sub_service_code_EXPNFORM', 'sub_service_status_code_CNCL',
       'sub_service_status_code_XCST', 'corporation_policy_id',
       'assign_sub_service_code_HOMESALE',
       'assign_sub_service_code_AIRESFEE_AIAI'],
      dtype='object')

In [77]:
# select features using threshold
# Fit model using each importance as a threshold
from sklearn.feature_selection import SelectFromModel
import xgboost as xg
from sklearn.metrics import mean_squared_error as MSE
thresholds = np.sort(importance)
for thresh in thresholds:
    selection = SelectFromModel(xgb_r, threshold=thresh, prefit=True)
    select_X_train = selection.transform(X_train)
    # train model
    selection_model = xg.XGBRegressor(objective ='reg:linear',n_estimators = 10, seed = 123)
    selection_model.fit(select_X_train, y_train)
    # eval model
    select_X_test = selection.transform(X_test)
    y_pred = selection_model.predict(select_X_test)
    #predictions = [round(value) for value in y_pred]
    #accuracy = selection_model.score(y_test, predictions)
    rmse = np.sqrt(MSE(y_test, y_pred))
    #print("RMSE : % f" %(rmse))
    r2score=selection_model.score(select_X_test, y_test)
    print("Thresh=%.3f, n=%d, rmse=%.5f,r2score: %.2f%%" % (thresh, select_X_train.shape[1],rmse, r2score*100.0))

C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(

[13:14:56] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.
Thresh=0.000, n=55, rmse=1359.32942,r2score: 77.18%

C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(

[13:14:56] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.
Thresh=0.000, n=55, rmse=1359.32942,r2score: 77.18%

C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(

[13:14:56] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.
Thresh=0.000, n=55, rmse=1359.32942,r2score: 77.18%

C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(

[13:14:57] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.
Thresh=0.000, n=55, rmse=1359.32942,r2score: 77.18%

C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(

[13:14:57] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.

C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(

Thresh=0.000, n=55, rmse=1359.32942,r2score: 77.18%
[13:14:57] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.

C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(

Thresh=0.000, n=55, rmse=1359.32942,r2score: 77.18%
[13:14:57] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.

C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(

Thresh=0.000, n=55, rmse=1359.32942,r2score: 77.18%
[13:14:58] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.

C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(

Thresh=0.000, n=55, rmse=1359.32942,r2score: 77.18%
[13:14:58] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.

C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(

Thresh=0.000, n=55, rmse=1359.32942,r2score: 77.18%
[13:14:58] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.

C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(

Thresh=0.000, n=55, rmse=1359.32942,r2score: 77.18%
[13:14:58] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.

C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(

Thresh=0.000, n=55, rmse=1359.32942,r2score: 77.18%
[13:14:59] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.

C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(

Thresh=0.000, n=55, rmse=1359.32942,r2score: 77.18%
[13:14:59] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.

C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(

Thresh=0.000, n=55, rmse=1359.32942,r2score: 77.18%
[13:14:59] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.

C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(

Thresh=0.000, n=55, rmse=1359.32942,r2score: 77.18%
[13:14:59] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.

C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(

Thresh=0.000, n=55, rmse=1359.32942,r2score: 77.18%
[13:15:00] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.

C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(

Thresh=0.000, n=55, rmse=1359.32942,r2score: 77.18%
[13:15:00] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.

C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(

Thresh=0.000, n=55, rmse=1359.32942,r2score: 77.18%
[13:15:00] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.

C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(

Thresh=0.000, n=55, rmse=1359.32942,r2score: 77.18%
[13:15:01] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.

C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(

Thresh=0.000, n=55, rmse=1359.32942,r2score: 77.18%
[13:15:01] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.

C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(

Thresh=0.000, n=55, rmse=1359.32942,r2score: 77.18%
[13:15:01] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.

C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(

Thresh=0.000, n=55, rmse=1359.32942,r2score: 77.18%
[13:15:01] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.

C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(

Thresh=0.000, n=55, rmse=1359.32942,r2score: 77.18%
[13:15:02] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.

C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(

Thresh=0.000, n=55, rmse=1359.32942,r2score: 77.18%
[13:15:02] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.
Thresh=0.000, n=32, rmse=1359.32942,r2score: 77.18%
[13:15:02] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.

C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(

Thresh=0.001, n=31, rmse=1359.26828,r2score: 77.18%
[13:15:02] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.
Thresh=0.001, n=30, rmse=1349.49466,r2score: 77.51%
[13:15:02] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.

C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(

Thresh=0.001, n=29, rmse=1360.80427,r2score: 77.13%
[13:15:02] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.
Thresh=0.001, n=28, rmse=1360.55000,r2score: 77.13%
[13:15:03] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.

C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(

Thresh=0.001, n=27, rmse=1360.52569,r2score: 77.14%
[13:15:03] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.
Thresh=0.002, n=26, rmse=1362.92705,r2score: 77.05%
[13:15:03] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.

C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(

Thresh=0.002, n=25, rmse=1362.92705,r2score: 77.05%
[13:15:03] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.
Thresh=0.002, n=24, rmse=1363.35855,r2score: 77.04%
[13:15:03] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.

C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(

Thresh=0.002, n=23, rmse=1354.23842,r2score: 77.35%
[13:15:03] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.
Thresh=0.003, n=22, rmse=1354.23842,r2score: 77.35%
[13:15:03] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.

C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(

Thresh=0.004, n=21, rmse=1354.89358,r2score: 77.32%
[13:15:04] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.
Thresh=0.004, n=20, rmse=1359.15866,r2score: 77.18%
[13:15:04] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.

C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(

Thresh=0.004, n=19, rmse=1389.00286,r2score: 76.17%
[13:15:04] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.
Thresh=0.005, n=18, rmse=1496.01651,r2score: 72.36%
[13:15:04] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.

C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(

Thresh=0.006, n=17, rmse=1497.25206,r2score: 72.31%
[13:15:04] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.
Thresh=0.006, n=16, rmse=1497.43512,r2score: 72.30%
[13:15:04] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.

C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(

Thresh=0.007, n=15, rmse=1520.29466,r2score: 71.45%
[13:15:04] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.
Thresh=0.007, n=14, rmse=1631.21714,r2score: 67.13%
[13:15:04] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.
Thresh=0.007, n=13, rmse=1633.09633,r2score: 67.06%

C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(

[13:15:04] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.
Thresh=0.007, n=12, rmse=1636.27104,r2score: 66.93%
[13:15:05] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.
Thresh=0.008, n=11, rmse=1637.93559,r2score: 66.86%
[13:15:05] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.

C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(

Thresh=0.008, n=10, rmse=1641.38002,r2score: 66.72%
[13:15:05] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.
Thresh=0.010, n=9, rmse=1661.90229,r2score: 65.88%
[13:15:05] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.
Thresh=0.010, n=8, rmse=1672.35262,r2score: 65.45%
[13:15:05] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.

C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(

Thresh=0.010, n=7, rmse=1691.45450,r2score: 64.66%
[13:15:05] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.
Thresh=0.018, n=6, rmse=1690.60293,r2score: 64.70%
[13:15:05] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.
Thresh=0.024, n=5, rmse=1741.97841,r2score: 62.52%
[13:15:05] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.
Thresh=0.029, n=4, rmse=1783.04000,r2score: 60.73%
[13:15:05] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.
Thresh=0.034, n=3, rmse=1827.73347,r2score: 58.74%
[13:15:05] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.
Thresh=0.176, n=2, rmse=1895.10792,r2score: 55.64%
[13:15:05] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.
Thresh=0.600, n=1, rmse=2109.36672,r2score: 45.04%

C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(
C:\Users\Saurabh\anaconda3\envs\Claimfraud\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SelectFromModel was fitted without feature names
  warnings.warn(

In [76]:
thresholds = np.sort(importance)
thresholds

array([0.0000000e+00, 0.0000000e+00, 0.0000000e+00, 0.0000000e+00,
       0.0000000e+00, 0.0000000e+00, 0.0000000e+00, 0.0000000e+00,
       0.0000000e+00, 0.0000000e+00, 0.0000000e+00, 0.0000000e+00,
       0.0000000e+00, 0.0000000e+00, 0.0000000e+00, 0.0000000e+00,
       0.0000000e+00, 0.0000000e+00, 0.0000000e+00, 0.0000000e+00,
       0.0000000e+00, 0.0000000e+00, 0.0000000e+00, 2.6287269e-04,
       6.9567125e-04, 8.3487423e-04, 1.0039778e-03, 1.1304859e-03,
       1.2614346e-03, 2.1630202e-03, 2.2063085e-03, 2.3521339e-03,
       2.4255093e-03, 2.8678239e-03, 3.8436353e-03, 3.9146338e-03,
       4.2696162e-03, 4.7527170e-03, 5.6905984e-03, 5.9842030e-03,
       6.5230513e-03, 6.6573215e-03, 6.8112365e-03, 7.4103805e-03,
       8.1287511e-03, 8.1550293e-03, 9.6415654e-03, 9.8065464e-03,
       9.9909771e-03, 1.8359931e-02, 2.4016410e-02, 2.8730018e-02,
       3.3664949e-02, 1.7600934e-01, 6.0043502e-01], dtype=float32)

In [53]:
importance = xgb_r.feature_importances_

In [54]:
importance

array([4.2696162e-03, 8.3487423e-04, 2.4016410e-02, 6.8112365e-03,
       1.0039778e-03, 3.9146338e-03, 6.9567125e-04, 6.5230513e-03,
       0.0000000e+00, 2.8678239e-03, 4.7527170e-03, 5.9842030e-03,
       0.0000000e+00, 0.0000000e+00, 2.6287269e-04, 1.2614346e-03,
       2.3521339e-03, 1.7600934e-01, 2.2063085e-03, 0.0000000e+00,
       8.1287511e-03, 0.0000000e+00, 0.0000000e+00, 0.0000000e+00,
       0.0000000e+00, 3.8436353e-03, 0.0000000e+00, 2.8730018e-02,
       0.0000000e+00, 2.4255093e-03, 3.3664949e-02, 0.0000000e+00,
       7.4103805e-03, 0.0000000e+00, 0.0000000e+00, 6.0043502e-01,
       2.1630202e-03, 0.0000000e+00, 0.0000000e+00, 0.0000000e+00,
       0.0000000e+00, 0.0000000e+00, 5.6905984e-03, 0.0000000e+00,
       9.9909771e-03, 0.0000000e+00, 6.6573215e-03, 0.0000000e+00,
       0.0000000e+00, 0.0000000e+00, 9.6415654e-03, 9.8065464e-03,
       8.1550293e-03, 1.1304859e-03, 1.8359931e-02], dtype=float32)

In [81]:
from sklearn.inspection import permutation_importance
perm_importance = permutation_importance(xgb_r, X_test, y_test)

In [55]:
# Indices of the sorted elements of a
# given array
indices = np.argsort(importance)
indices

array([24, 22, 23, 47, 26, 28, 31, 33, 21, 34, 37, 38, 39, 40, 41, 43, 45,
       49, 19, 48, 13, 12,  8, 14,  6,  1,  4, 53, 15, 36, 18, 16, 29,  9,
       25,  5,  0, 10, 42, 11,  7, 46,  3, 32, 20, 52, 50, 51, 44, 54,  2,
       27, 30, 17, 35], dtype=int64)

In [56]:
pos = [7, 52, 32, 42, 11,  3, 51, 50, 20, 46, 44, 10,  2, 27,
       54, 30, 17, 35]
colname = Data1.columns[pos]

In [57]:
colname

Index(['CITY_DEST', 'company_id_B', 'assign_sub_service_code_HPREFER',
       'assign_sub_service_code_TAXPMT', 'assignment_type_code_PERM',
       'tl_num_of_bedroom', 'sub_service_status_code_XCST',
       'sub_service_status_code_CNCL', 'assign_sub_service_code_AUTOPROC',
       'assign_sub_service_code_TRVLHMSR', 'assign_sub_service_code_TRVLFTRP',
       'assignment_type_code_LGTM', 'actual_weight',
       'assign_sub_service_code_EXPNFORM', 'company_id_D',
       'assign_sub_service_code_HOMESALE',
       'assign_sub_service_code_AIRESFEE_AIAI',
       'assign_sub_service_code_LUMPSUM'],
      dtype='object')

In [58]:
Data2=Data1[['CITY_DEST', 'company_id_B', 'assign_sub_service_code_HPREFER',
       'assign_sub_service_code_TAXPMT', 'assignment_type_code_PERM',
       'tl_num_of_bedroom', 'sub_service_status_code_XCST',
       'sub_service_status_code_CNCL', 'assign_sub_service_code_AUTOPROC',
       'assign_sub_service_code_TRVLHMSR', 'assign_sub_service_code_TRVLFTRP',
       'assignment_type_code_LGTM', 'actual_weight',
       'assign_sub_service_code_EXPNFORM', 'company_id_D',
       'assign_sub_service_code_HOMESALE',
       'assign_sub_service_code_AIRESFEE_AIAI',
       'assign_sub_service_code_LUMPSUM']]

In [59]:
import matplotlib.pyplot as plt
plt.rcParams["figure.figsize"] = (20,10)

In [ ]:
# summarize feature importance
from matplotlib import pyplot
for i,v in enumerate(importance):
    print('Feature: %0d, Score: %.5f' % (i,v))
# plot feature importance
pyplot.bar([x for x in range(len(importance))], importance)
pyplot.show()

In [38]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

# VIF dataframe
vif_data = pd.DataFrame()
vif_data["feature"] = Data1.columns

# calculating VIF for each feature
vif_data["VIF"] = [variance_inflation_factor(Data1.values, i) for i in range(len(Data1.columns))]

print(vif_data)

                                  feature         VIF
0                   corporation_policy_id    7.806165
1                             family_size    1.217933
2                           actual_weight    3.766289
3                       tl_num_of_bedroom    2.447307
4                         assign_duration    1.447287
5                               CITY_ORIG    1.729766
6                       COUNTRY_CODE_ORIG    1.688779
7                               CITY_DEST    2.743612
8               assignment_type_code_CMTR    1.021465
9               assignment_type_code_INTR    8.002065
10              assignment_type_code_LGTM    3.189045
11              assignment_type_code_PERM  109.184142
12              assignment_type_code_RLTM    1.020170
13              assignment_type_code_SHTM    5.225007
14              assignment_type_code_STFM    1.250413
15                 home_status_code_OTHER    1.624460
16                   home_status_code_OWN    1.451430
17  assign_sub_service_code_AIRESFEE_AIAI    6.068804
18       assign_sub_service_code_AIRPRTMT    1.048762
19       assign_sub_service_code_AREATOUR    1.715886
20       assign_sub_service_code_AUTOPROC    1.408079
21       assign_sub_service_code_CONCIERG    1.004287
22       assign_sub_service_code_CULTCLAS    1.003882
23       assign_sub_service_code_DEPATURE    1.030285
24       assign_sub_service_code_DREIMBHP    1.026213
25       assign_sub_service_code_DREIMBHS    1.029502
26   assign_sub_service_code_EXPENSE_AIAI    1.037550
27       assign_sub_service_code_EXPNFORM    3.983413
28       assign_sub_service_code_FURNPROC    1.019465
29       assign_sub_service_code_HOMEPRCH    1.624503
30       assign_sub_service_code_HOMESALE    1.720640
31       assign_sub_service_code_HOMESRCH    1.038084
32        assign_sub_service_code_HPREFER    1.023416
33        assign_sub_service_code_HSREFER    1.006044
34       assign_sub_service_code_LANGCLAS    1.002724
35        assign_sub_service_code_LUMPSUM    3.551350
36       assign_sub_service_code_NASINVOI    1.412945
37       assign_sub_service_code_PROPMGMT    1.000682
38       assign_sub_service_code_RENTLASS    1.126584
39       assign_sub_service_code_SCHLSRCH    1.013953
40       assign_sub_service_code_SPSESPPT    1.023334
41       assign_sub_service_code_SSTAXCER    1.021400
42         assign_sub_service_code_TAXPMT    1.147506
43       assign_sub_service_code_TRVLASST    1.002238
44       assign_sub_service_code_TRVLFTRP    1.418143
45       assign_sub_service_code_TRVLHMLV    1.023035
46       assign_sub_service_code_TRVLHMSR    1.185811
47       assign_sub_service_code_TRVLPREA    1.001796
48       assign_sub_service_code_TRVLSHRT    1.017638
49           sub_service_status_code_ACTV    1.016797
50           sub_service_status_code_CNCL    1.179541
51           sub_service_status_code_XCST    1.054545
52                           company_id_B    8.626264
53                           company_id_C    8.535645
54                           company_id_D    4.321922

In [175]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Dropout
from scikeras.wrappers import KerasRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

In [178]:
print(X_train1.shape)
print(y_train1.shape)
print(X_Val.shape)
print(y_Val.shape)

(45127, 68)
(45127, 1)
(88, 68)
(88, 1)

In [180]:
# create ANN model
model = Sequential()

# Defining the Input layer and FIRST hidden layer, both are same!
model.add(Dense(units=50, input_dim=68, kernel_initializer='normal', activation='relu'))
#model.add(Dropout(0.2))

# Defining the Second layer of the model
# after the first layer we don't have to specify input_dim as keras configure it automatically
model.add(Dense(units=55, kernel_initializer='normal', activation='relu'))
#model.add(Dropout(0.2))
#model.add(Dense(units=35, kernel_initializer='normal', activation='relu'))
# The output neuron is a single fully connected node 
# Since we will be predicting a single number
model.add(Dense(1, kernel_initializer='normal'))

# Compiling the model
model.compile(loss='mean_squared_error', optimizer='adam')
# Fitting the ANN to the Training set
model.fit(X_train1, y_train1 ,batch_size = 10, epochs = 50, verbose=1)

# Generating Predictions on testing data
Predictions_orig=model.predict(X_Val)

# # Scaling the predicted Price data back to original price scale
# Predictions=TSF.inverse_transform(Predictions_orig)

# # Scaling the y_test Price data back to original price scale
# y_test_orig=TSF.inverse_transform(y_test)

# Scaling the test data back to original scale
#Test_Data=PredictorScalerFit.inverse_transform(X_test)

# TestingData=pd.DataFrame()
# TestingData['Amount']=y_test_orig
# TestingData['PredictedAmountOrig']=Predictions_orig
# TestingData['PredictedAmount']=Predictions
# TestingData.head()

Epoch 1/50
4513/4513 [==============================] - 3s 700us/step - loss: 6901907.0000
Epoch 2/50
4513/4513 [==============================] - 3s 700us/step - loss: 6633382.0000
Epoch 3/50
4513/4513 [==============================] - 3s 708us/step - loss: 5783470.5000
Epoch 4/50
4513/4513 [==============================] - 3s 698us/step - loss: 3755735.7500
Epoch 5/50
4513/4513 [==============================] - 3s 711us/step - loss: 3245608.7500
Epoch 6/50
4513/4513 [==============================] - 3s 707us/step - loss: 3055849.2500
Epoch 7/50
4513/4513 [==============================] - 4s 868us/step - loss: 2902985.5000
Epoch 8/50
4513/4513 [==============================] - 5s 1ms/step - loss: 2843348.2500
Epoch 9/50
4513/4513 [==============================] - 4s 981us/step - loss: 2788578.0000
Epoch 10/50
4513/4513 [==============================] - 4s 977us/step - loss: 2739359.2500
Epoch 11/50
4513/4513 [==============================] - 4s 968us/step - loss: 2719119.5000
Epoch 12/50
4513/4513 [==============================] - 4s 985us/step - loss: 2667120.0000
Epoch 13/50
4513/4513 [==============================] - 4s 987us/step - loss: 2645947.0000
Epoch 14/50
4513/4513 [==============================] - 5s 1ms/step - loss: 2633306.5000
Epoch 15/50
4513/4513 [==============================] - 4s 981us/step - loss: 2590664.2500
Epoch 16/50
4513/4513 [==============================] - 4s 959us/step - loss: 2547176.5000
Epoch 17/50
4513/4513 [==============================] - 4s 961us/step - loss: 2550833.0000
Epoch 18/50
4513/4513 [==============================] - 4s 978us/step - loss: 2532452.7500
Epoch 19/50
4513/4513 [==============================] - 5s 1ms/step - loss: 2499758.7500
Epoch 20/50
4513/4513 [==============================] - 5s 1ms/step - loss: 2480701.5000
Epoch 21/50
4513/4513 [==============================] - 6s 1ms/step - loss: 2467922.2500
Epoch 22/50
4513/4513 [==============================] - 4s 973us/step - loss: 2462394.2500
Epoch 23/50
4513/4513 [==============================] - 5s 1ms/step - loss: 2457791.7500
Epoch 24/50
4513/4513 [==============================] - 5s 1ms/step - loss: 2424786.5000
Epoch 25/50
4513/4513 [==============================] - 4s 976us/step - loss: 2455683.7500
Epoch 26/50
4513/4513 [==============================] - 5s 1ms/step - loss: 2416721.5000
Epoch 27/50
4513/4513 [==============================] - 5s 1ms/step - loss: 2385809.2500
Epoch 28/50
4513/4513 [==============================] - 4s 981us/step - loss: 2420225.7500
Epoch 29/50
4513/4513 [==============================] - 4s 965us/step - loss: 2389205.2500
Epoch 30/50
4513/4513 [==============================] - 4s 977us/step - loss: 2384756.0000
Epoch 31/50
4513/4513 [==============================] - 4s 980us/step - loss: 2379975.7500
Epoch 32/50
4513/4513 [==============================] - 4s 972us/step - loss: 2377313.2500
Epoch 33/50
4513/4513 [==============================] - 4s 979us/step - loss: 2382859.5000
Epoch 34/50
4513/4513 [==============================] - 4s 982us/step - loss: 2362962.5000
Epoch 35/50
4513/4513 [==============================] - 4s 975us/step - loss: 2363903.5000
Epoch 36/50
4513/4513 [==============================] - 4s 990us/step - loss: 2329805.5000
Epoch 37/50
4513/4513 [==============================] - 5s 1ms/step - loss: 2331707.5000
Epoch 38/50
4513/4513 [==============================] - 4s 982us/step - loss: 2339625.0000
Epoch 39/50
4513/4513 [==============================] - 4s 992us/step - loss: 2340274.0000
Epoch 40/50
4513/4513 [==============================] - 4s 994us/step - loss: 2315312.5000
Epoch 41/50
4513/4513 [==============================] - 5s 1ms/step - loss: 2297610.7500
Epoch 42/50
4513/4513 [==============================] - 5s 997us/step - loss: 2325019.7500
Epoch 43/50
4513/4513 [==============================] - 5s 1ms/step - loss: 2296288.2500
Epoch 44/50
4513/4513 [==============================] - 4s 992us/step - loss: 2297157.2500
Epoch 45/50
4513/4513 [==============================] - 5s 1ms/step - loss: 2315767.7500
Epoch 46/50
4513/4513 [==============================] - 5s 1ms/step - loss: 2315153.2500
Epoch 47/50
4513/4513 [==============================] - 5s 1ms/step - loss: 2297450.0000
Epoch 48/50
4513/4513 [==============================] - 4s 969us/step - loss: 2296242.7500
Epoch 49/50
4513/4513 [==============================] - 4s 974us/step - loss: 2312780.7500
Epoch 50/50
4513/4513 [==============================] - 5s 1ms/step - loss: 2287308.2500
3/3 [==============================] - 0s 1ms/step

In [181]:
from sklearn.metrics import mean_absolute_error,mean_squared_error
from sklearn.metrics import r2_score

# mae = mean_absolute_error(y_true=y_test,y_pred=Predictions_orig)
# #squared True returns MSE value, False returns RMSE value.
# mse = mean_squared_error(y_true=y_test,y_pred=Predictions_orig) #default=True
rmse = mean_squared_error(y_true=y_Val,y_pred=Predictions_orig,squared=False)

print("RMSE:",rmse)

RMSE: 1885.7806090407528

In [182]:
r2_score(y_Val, Predictions_orig)

0.5006941388833713

In [186]:
!python -V

Python 3.10.4